{% extends "base.html" %}

{% block content %}

  <h1>Make buggy</h1>

  <form action="/new" method="post">
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" />
    <input type="submit" class="button">
  </form>

  <form action="/new" method="post">
    <label for="power_type">Primary motive power:</label>
    <input type="text" name="power_type" />
    <input type="submit" class="button">
  </form>

  <form action="/new" method="post">
    <label for="power_units">Primary motive power units:</label>
    <input type="text" name="power_units" />
    <input type="submit" class="button">
  </form>

  <form action="/new" method="post">
    <label for="aux_power_type">Auxiliary motive power:</label>
    <input type="text" name="aux_power_type" />
    <input type="submit" class="button">
  </form>

  <form action="/new" method="post">
    <label for="aux_power_units">Auxiliary motive power units:</label>
    <input type="text" name="aux_power_units" />
    <input type="submit" class="button">
  </form>

  <form action="/new" method="post">
    <label for="hamster_booster">Hamster booster:</label>
    <input type="text" name="hamster_booster" />
    <input type="submit" class="button">
  </form>

  <form action="/new" method="post">
    <label for="flag_color">Flag's colour:</label>
    <input type="text" name="flag_color" />
    <input type="submit" class="button">
  </form>

  <form action="/new" method="post">
    <label for="flag_pattern">Flag's pattern:</label>
    <input type="text" name="flag_pattern" />
    <input type="submit" class="button">
  </form>

  <form action="/new" method="post">
    <label for="flag_color_secondary">Flag's other colour:</label>
    <input type="text" name="flag_color_secondary" />
    <input type="submit" class="button">
  </form>

  <form action="/new" method="post">
    <label for="tyres">Type of tyres:</label>
    <input type="text" name="tyres" />
    <input type="submit" class="button">
  </form>

  <form action="/new" method="post">
    <label for="qty_tyres">Number of tyres:</label>
    <input type="text" name="qty_tyres" />
    <input type="submit" class="button">
  </form>

  <form action="/new" method="post">
    <label for="armour">Armour:</label>
    <input type="text" name="armour" />
    <input type="submit" class="button">
  </form>

  <form action="/new" method="post">
    <label for="attack">Offensive capabilities:</label>
    <input type="text" name="attack" />
    <input type="submit" class="button">
  </form>

  <form action="/new" method="post">
    <label for="qty_attacks">Number of attacks:</label>
    <input type="text" name="qty_attacks" />
    <input type="submit" class="button">
  </form>

  <form action="/new" method="post">
    <label for="fireproof">Fireproof:</label>
    <input type="text" name="fireproof" />
    <input type="submit" class="button">
  </form>

  <form action="/new" method="post">
    <label for="insulated">Insulated:</label>
    <input type="text" name="insulated" />
    <input type="submit" class="button">
  </form>

  <form action="/new" method="post">
    <label for="antibiotic">Antibiotic:</label>
    <input type="text" name="antibiotic" />
    <input type="submit" class="button">
  </form>

  <form action="/new" method="post">
    <label for="banging">Banging sound system:</label>
    <input type="text" name="banging" />
    <input type="submit" class="button">
  </form>

  <form action="/new" method="post">
    <label for="algo">Race computer algorithm</label>
    <input type="text" name="algo" />
    <input type="submit" class="button">
  </form>

  <p>
    <a href="/" class="button">home</a>
  </p>



{% endblock %}
